.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 50px 5px #d0cfcf;
}



.sidebar-sticky {
  position: fixed;
  top: 150px; /* Height of navbar */
  height: calc(100vh - 48px);
  width: 275px;
  padding-top: 5rem;
  padding-left: 0;
  border-color: #898989;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.nav-item {
  background-color: rgb(244, 250, 247) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 0.8px !important;
  border-color: #e7e8e7 !important;
  height: 56px !important;
  padding: 0;
  overflow: hidden;
}

.nav-item .nav-link {
  font-weight: 500 !important;
  color: #333 !important;
  font-family: cursive !important;
}

.active {
  background-color: #88d8c4 !important;
  color: white;
}

.nav-item:hover {
  background-color: #012119 !important;
}

.nav-item .nav-link:hover {
  color: whitesmoke !important;
}
