.topNav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.brand-wrapper {
  height: 151px;
  position: absolute;
  top: 0;
}

.overlay {
  background-image: url(https://generation-sessions.s3.amazonaws.com/e06ce59c0e2c447da45ea43fb9587309/img/union.svg);
  background-size: 100% 100%;
  height: 151px;
  position: relative;
  width: 275px;
}

.profile {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 64px;
  position: relative;
}

.frame51 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.frame63 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 17px;
  justify-content: center;
  position: relative;
}

.frame64 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.ellipse3 {
  height: 56px;
  object-fit: cover;
  position: relative;
  width: 56px;
}

.text-wrapper-34 {
  color: #515251;
  font-family: cursive;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.text-wrapper-35 {
  align-self: stretch;
  color: #515251;
  font-family: cursive;
  height: 17px;

  position: relative;
  white-space: nowrap;
}
