.container {
  margin: 5rem;
}

.container h4 {
  font-size: large;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  font-weight: 100;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.container p {
  color: #515251;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
}
