.landing-page {
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page-wrapper {
  background-color: #ffffff;
  border: 1px none;
  height: 5095px;
  position: relative;
  width: 1512px;
}
