.credit-wallet {
  height: 151px;
  position: relative;
  width: 100%;
}

.text {
  text-align: center !important;
}

.title {
  color: #03513d;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  text-align: center !important;
  padding: 40px;
}

.balance {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  color: #03513d;
  font-size: large;
  padding-left: 40px;
  text-align: center;
}

.btn {
  color: #03513d !important;
  background-color: #aad2c8 !important;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  padding: 1rem !important;
}

.btn:hover {
  background-color: #03513d !important;
  color: white !important;
}
