.logo {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
}

.logo .div {
  height: 32px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 122px !important;
}

.logo .img {
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  width: 274px;
}
