.quick-action {
  box-shadow: 0 0 350px 1px #c6c5c5 !important;
  border: none !important;
  width: 100% !important;
  position: relative !important;
}

.quick-action:hover {
  box-shadow: 0 0 100px 5px #aeaeae !important;
}

@media (max-width: 979px) {
  .quick-action {
    box-shadow: 0 0 350px 1px #aeaeae !important;
    border: none !important;
    width: 100% !important;
    position: relative !important;
    margin-top: 15px;
  }
}

.icon-div:hover {
  box-shadow: 0 0 100px 5px #aeaeae !important;
}

.action-link {
  text-decoration-line: none;
  color: #80b7a9;
}
.action-link:hover {
  color: #03513d;
  text-shadow: 0 0 80px 5px #a29f9f;
}

.action-text {
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  font-size: small;
  text-align: center;
}
